/* General CSS Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

.app-container {
  text-align: center;
  padding: 20px;
}

.food-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.food-item {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 300px;
}

.food-item img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.food-item h2 {
  color: #333;
}

.food-item p {
  color: #666;
}
